.chat-card {
    cursor: pointer;
}

.chat-card-header {
    padding: 5px 15px;
    border-bottom: 1px solid #eee;
}

.chat-card-body {
    padding: 5px 15px;
    height: 75px;
}

.chat-modal-content {
    width : 200%;
    left: 0;
    margin-left: -50%;
    top: 20px;
    /*background-color: #141d26;*/
}

.chat-modal-body {
    padding: 0;
}

.chat-panel {
    height: 460px;
    width: 30%;
    border-right: 1px solid #ccc;
}

.chat-panel-search-box, .chat-participants {
    padding: 10px;
}

.chat-body {
    height: 100% !important;
    width: 70%;
}

.chat-modal-footer {
    height: 56px;
    border-top: 1px solid #ccc;
}

.chat-body-messages {
    height: 380px;
    padding: 10px;
}

.dismiss-modal {
    display: none;
}

.text-form-input {
    width : 100%;
    border: none;
    box-shadow: none;
}

.text-form-input:focus {
    box-shadow: none;
}

.message {
    padding: 8px 15px;
    border-radius: 20px;
    color: #fff;
    font-size: 16;
    text-align: left;
}

.left-side {
    display: block;
    width: auto;
    max-width: 50%;
}

.left-side > .message {
    background: #4095e3;
    width: auto;
}


.right-side {
    display: block;
    width: auto;
    text-align: right;
    max-width: 50%;
    margin-left: 50%;
}

.right-side > .message {
    background: #ccc;
    width: auto;
}

.someone-is-typing {
    max-height: 14px;
    height: 14px;
    color: #05f005;
    font-size: 12px;
    text-align: left;
    padding-left: 10px;
    margin: 5px 0;
}

p {
    margin-bottom: 10px;
}

