body {
  overflow-x: hidden !important;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
  width : 100%;
}

.navbar {
    padding: .30rem 0 !important;
}

.hidden {
    display: none;
}

.navbar-toggler {
    padding: 0;
    border: none;
    line-height: 0.5;
}

.navbar-toggler-icon {
    color: #fff;
}

.navbar-toggler:focus {
    border: none !important;
    transform: rotate(45deg);
}

.close-toggle {
    /*font-size: 32px;*/
    border: 1px solid #fff;
    height: 80px;
    width: 80px;
    /*border-radius: 40px;*/
    display: none;
}

.navbar-brand {
    font-size: 18px;
}

.banner {
    background-image: linear-gradient(150deg,#53f 15%,#05d5ff 70%,#a6ffcb 94%);
    background-size: cover;
    height: 250px;
    padding-top: 25px;
}

.banner-row {
    padding: 50px 0;
}

.app-tagline {
    color: #fff;
}

input, button {
    height: 50px !important;
}

input, button, .card, .modal-content {
    border-radius: 3px;
}

input {
    border-right: none;
    box-shadow: none !important;
}

.search-chatrooms {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.search-submit {
    border: 1px solid #ced4da;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#basic-addon2 {
    padding: 0;
    border: none;
}

.box-shadow {
    box-shadow: 0 15px 35px rgba(70,50,50,.1), 0 5px 15px rgba(0,0,0,.08);
}

nav {
    background-color: transparent;
}

.buttons-container {
    margin-top: 20px;
}

p {
    margin-bottom: 5px;
}

hr {
    margin-top: 0;
}

.participant {
    color: #4095e3 !important;
}

/* Colors */

.theme-blue {
    color: #4095e3 !important;
}

.theme-gray {
    color: #e5e5e5;
}

.theme-red {
    color: #ff3232 !important;
}

.location-green {
    color: #5f9616 !important;
}

.theme-yellow {
    color: #878706 !important;
}

.theme-green {
    color: #05f005 !important;
}

.theme-darkblue {
    color: #265988;
}

.green {
    color: #05f005 !important;
}


/* Special Effects */

.rotate-90-deg {
    animation: change-to-times infinite 0.25s linear;
}

@keyframes change-to-times {
    from { transform: rotate(0deg); }
    to { transform: rotate(45deg); display: none;}
}